name: CI

on:
  workflow_call:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Check formatting
        working-directory: ./core
        run: |
          cargo fmt -- --check

      - name: Run clippy
        working-directory: ./core
        run: |
          cargo clippy -- -D warnings

      - name: Run tests
        working-directory: ./core
        run: |
          cargo test

      - name: Build
        working-directory: ./core
        run: |
          cargo build --release

