name: CI

on:
  workflow_call:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Check formatting
        run: make fmt-check

      - name: Run clippy
        run: make clippy

      - name: Run tests
        run: make test

      - name: Build
        run: make build-release

